.CrawlRuleList {
    background-color: #F0F0F0;
    max-width: 200px;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    height: 100%;

    @include  mobile {
        max-width: unset;
        border-radius: 20px 20px 20px 20px;
    }

    &-Item {
        border: 1px solid #000000;
        border-radius: 20px;
        padding: 10px;
        background-color: #FFFFFF;
        margin-bottom: 15px;
        cursor: pointer;
        text-align: center;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:hover {
            border-color: #1E90FF;
            box-shadow: 3px 5px 10px #1E90FF;
        }
    }
}
