.Dashboard {
    &-Operation {
        display: flex;
        background-color: #FFFFFF;
        padding: 10px 15px;
        border-radius: 20px;
        border: 1px solid #000000;
        align-items: center;
        gap: 1vh;
        overflow: hidden;
        flex-wrap: wrap;

        &-Actions {
            margin-left: auto;
            display: flex;

            .Position {
                max-width: 30px;
                text-align: center;
            }
        }
    }

    &-Operations {
        text-align: center;
        position: relative;

        .ArrowDown {
            padding: 5px;
            margin: 10px;
        }

        button {
            width: 100%;
            margin-top: 20px;
        }

        .PlusIcon {
            margin-top: 20px;
        }
    }
}
